<!doctype html>
<html ng-app="todo-app">

<head>
    <title>The Code Campus Training App</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="app.js"></script>

    <style type="text/css">
        .done {
            color: lightgrey;
            text-decoration: line-through;
        }
        /*.ng-scope {*/
            /*border: 1px dashed red;*/
            /*margin: 2px 2px;*/
        /*}*/
    </style>
</head>

<body ng-controller="TasksCtrl">
<input type="text" ng-model="task.name" ng-click="task.name = null">
<button ng-click="addTask()">Add</button>
<button ng-click="removeTask()">Remove</button>
<button ng-click="removeAllTask()">Remove All</button>
<br/>
Show completed:
<input type="checkbox" ng-model="showCompleted"/>
<hr>
<ul>
    <li ng-repeat="t in taskList | filter:filterCompleted"
        ng-class="{done: t.completed}">
        {{$index + 1}}. {{t.name}}
        <input type="checkbox"
               ng-model="t.completed"
               ng-change="taskChanged(t)"/>
    </li>
</ul>
<hr>
</body>
</html>